.Accueil-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.Accueil-title {
    text-align: center;
    color: #6a3352;
}

.Accueil-header {
    padding: 15px 8px 10px 8px;

    & p {
        padding: 5px;

        &:nth-child(1) {
            font-size: 1.2em;
            text-align: center;
        }

        &:nth-child(2) {
            margin-top: 5px;
            opacity: 0.8;
        }
    }
}

.Carte-cellier {
    position: relative;
    font-family: "Open Sans", sans-serif;
    height: 90px;
    text-align: start;
    width: 100%;

    .ajoutCellier {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        background-color: #6a3352;
        color: white;
        opacity: 20%;
        font-size: 0.8em;

        svg {
            position: relative;
            font-size: 6em;
            opacity: 100%;
        }
    }
}

.Accueil-catalogue {
    margin-top: 20px;

    & > div {
        justify-content: space-between !important;

        & > button {
            background-color: #c07a71 !important;
            color: #fff !important;
            opacity: 0.5 !important;
        }
    }

    .Carte-bouteille {
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 20px;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
}

.Carousel-main {
    display: flex;
    justify-content: center;
    padding: 10px;

    & > p {
        text-align: center;
        margin-top: 50px;
        font-size: 1.3em;
    }
}
